<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.OswAme.appnotas">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/notas"
        android:label="@string/app_name"
        android:roundIcon="@drawable/notas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Media.ActivityMediaAudio" />


        <activity android:name=".Media.ActivityMediaVideo" />
        <activity android:name=".Media.CapturaVideo" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Datos.ActivityDatos" />
        <activity android:name=".Datos.ActivityNotifica" />
        <activity android:name=".Media.ActivityMedia" />
        <service android:name=".Media.Servicio" />

        <receiver android:name=".AlertReceiver" />

    </application>

</manifest>